.profile {
    color: gray;
    .header-text {
        font-size: 2.4em;
        font-weight: bold;
        color: white;
        background: url('../../images/profile-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0px;
        height: 30%;
        text-align: center;
        img {
            max-width: 100%;
            border: 0;
            width: 24%;
            float: left;
            margin-top: 58px;
            margin-left: 184px;
            position: absolute;
            border-radius: 57px;
        }
    }
    .subheader {
        font-size: 16px;
        font-weight: normal;
    }
    button {
        margin: 40px auto;
        display: block;
    }
    .title {
        font-weight: bold;
        padding: 10px 0px;
        color: dimgrey;
    }
    .description {
        color: gray;
    }
    .amount {
        top: 24px;
        position: absolute;
        right: 16px;
        font-size: 1.2em;
        font-weight: bold;
        color: #00bb9c;
    }
    .address {
        margin-bottom: 10px;
    }
    .relation-card {
        border-top: 1px solid #e0e0e0;
    }
}