// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "./icons.scss";
@import "../pages/calculate/calculate";
@import "../pages/contact/contact";
@import "../pages/home/home";
@import "../pages/login/login";
@import "../pages/welcome/welcome";
@import "../pages/tabs/tabs";
@import "../pages/budget/budget";
@import "../pages/goals/goals";
@import "../pages/goals/goal";
@import "../pages/goals/new-goal";
@import "../pages/goals/add-goal";
@import "../pages/pot/pot";
@import "../pages/more/more";
@import "../components/nudge";
ion-page {
    scroll-content {
        margin: 0;
        padding: 0 !important;
    }
}

// ion-header:after {
//     opacity: 0.2;
// }
// .toolbar-background {
//     background: #FFF;
// }
.toolbar-title,
.bar-button {
    color: #CCC;
}

.banner {
    background: rgba(255, 255, 255, 0.52);
    padding: 5px 20px;
    line-height: 42px;
    vertical-align: middle;
    display: block;
    font-weight: bold;
    font-size: 19px;
    color: #464646;
    text-transform: uppercase;
}

.chart {
    position: relative;
    display: block;
}

.header-space {
    display: block;
    height: 60px;
}

.logo {
    display: block;
    height: 37px;
    margin: 0px 11px;
    -webkit-transform: translateX(-17px);
    transform: translateX(-17px);
    padding-top: 6px;
}