.tab-button-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 0;
    -webkit-mask-position: 24px 0px !important;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 24px 24px !important;
    background-color: #bdbdbd;
    border: 0;
    padding: 0px;
}

.tab-button-icon[ng-reflect-is-active="true"] {
    background-color: red;
}

.ion-md-i-goals {
    -webkit-mask-image: url('../../images/goals.svg');
    -webkit-mask-position: 30px 0px !important;
}

.ion-md-i-piggybank {
    -webkit-mask-image: url('../../images/piggybank.svg');
}

.ion-md-i-home {
    -webkit-mask-image: url('../../images/home.svg');
}

.ion-md-i-profile {
    -webkit-mask-image: url('../../images/profile.svg');
}

.ion-md-i-more {
    -webkit-mask-image: url('../../images/more.svg');
}

.ion-md-i-halifax-logo {
    background-image: url('../../images/halifax-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    padding: 0px;
    margin: 0px;
}

.ion-md-i-hsbc-logo {
    background-image: url('../../images/hsbc-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
}