.goal {
    color: gray;
    ion-icon.ion-md-home {
        font-size: 0em;
    }
    .header-text {
        font-size: 2.4em;
        font-weight: bold;
        color: white;
        background: whitesmoke;
        padding: 30px 0px;
        text-align: center;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .subheader {
        font-size: 20px;
        font-weight: normal;
    }
    .amount {
        padding: 10px;
    }
    .note {
        font-size: 14px;
        font-weight: normal;
    }
    .card {
        padding: 10px 17px;
        border: 1px solid lightgray;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.18);
        margin: 10px;
        color: #777676;
        & .title {
            padding: 7px 0px;
            font-weight: bold;
            font-size: 1.2em;
        }
        .action-bar {
            border-top: 1px solid #e4e4e4;
            margin-top: 13px;
        }
        &.products .product .action-bar {
            border-top: 0px;
            border-bottom: 1px solid #e4e4e4;
            margin-top: 0px;
            margin-bottom: 13px;
        }
        .product {
            .badge {
                float: right;
                margin-top: -25px;
                background: #e4e2e2;
                border-radius: 3px;
                padding: 1px 4px;
                font-size: 11px;
            }
        }
        &.products .product:last-child .action-bar {
            border: 0px;
            margin-bottom: 0px;
        }
        .relevance {
            padding: 5px 7px;
            background: #34b7f7;
            margin: 4px 0px;
            color: white;
            font-size: 11px;
        }
        .compare .content {
            padding: 10px 0px;
        }
        .amount-input {
            color: #ff0030;
            margin-left: 15px;
            font-size: 1.2em;
            button {
                width: 65px;
                margin-bottom: 20px;
                margin: 4px;
                background: #c1c1c1;
                color: white !important;
            }
            input {
                width: calc(100% - 20px);
                border: 0px;
                margin: 0 auto;
                display: inline-block;
                color: #777676;
                border-bottom: 1px solid #c1c1c1;
            }
            .amount-input-box {
                width: 94%;
                color: #c1c1c1 !important;
            }
            .or-label {
                text-align: center;
                padding: 13px;
                color: darkgrey;
            }
        }
        button {
            background: transparent;
            box-shadow: none;
            color: #ff0030;
            padding: 0;
            margin-right: 20px;
            &.button-clear {
                color: #777676;
            }
        }
    }
    .label {
        padding: 25px 0px 15px;
        display: block;
        font-weight: bold;
    }
    .item .item-inner {
        padding-right: 8px;
        border-bottom: 0px;
    }
    account-list {
        display: block;
    }
    ion-list {
        margin: 0px;
    }
    ion-item {
        margin: 0px !important;
        border: 0px !important;
        background: transparent;
        width: 97%;
    }
    .item {
        background: transparent;
    }
    .target-amount {
        font-size: medium;
        font-weight: normal;
        padding-bottom: 6px;
    }
    ion-label {
        font-weight: normal;
    }
    .title {
        padding: 12px;
    }
    .products {
        .prd-topup-section {
            display: none;
        }
        &[topup="true"] {
            .product[selected="false"] {
                display: none;
            }
            .choose-btn {
                display: none;
            }
            .prd-topup-section {
                display: inline-block;
            }
            .product.compare {
                display: none;
            }
            .choose-action-bar {
                display: none;
            }
            .action-bar {
                border: 0px !important;
                border-top: 1px solid #e4e4e4 !important;
                margin-top: 13px !important;
                margin-bottom: 0px !important;
            }
        }
    }
}

.header-text {
    &.travel {
        background: url('../../images/goal-travel.png');
    }
    &.home {
        background: url('../../images/goal-home.png');
    }
    &.life-after-60 {
        background: url('../../images/goal-la60.png');
    }
    &.rainy-day-fund {
        background: url('../../images/goal-rainy.png');
    }
    &.car {
        background: url('../../images/goal-car.png');
    }
}