.goals {
    .card {
        padding: 23px 17px;
        margin: 11px;
        color: #dedede;
        border-radius: 13px;
        overflow: hidden;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: relative;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
        & .title {
            padding: 0px 0px 7px 0px;
            font-weight: bold;
            font-size: 1.2em;
        }
        &.travel {
            background: url('../../images/goal-travel.png');
        }
        &.home {
            background: url('../../images/goal-home.png');
        }
        &.life-after-60 {
            background: url('../../images/goal-la60.png');
        }
        &.rainy-day-fund {
            background: url('../../images/goal-rainy.png');
        }
        ion-icon {
            position: absolute;
            right: 20px;
            top: calc(50% - 5px);
        }
    }
    button {
        margin: 40px auto;
        display: block;
    }
}