.goals {
    .card {
        padding: 10px 17px;
        border: 1px solid lightgray;
        box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.18);
        margin: 10px;
        color: #777676;
        & .title {
            padding: 7px 0px;
            font-weight: bold;
            font-size: 1.2em;
        }
    }
    button {
        margin: 40px auto;
        display: block;
    }
}