.about {

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    line {
        stroke: black;
    }

    text {
        font-family: Arial;
        font-size: 9pt;
    }


    line-chart{
        width:100%;
        display: block;
        height: 300px;
    }

    svg {
        display: block;
        margin: 0 auto;
    }
}
