.budget {
    .header-text {
        padding: 20px 30px;
        text-align: center;
        color: #828080;
    }
    .grid {
        padding: 0px 20px;
    }
    .row {
        display: table-row;
    }
    .col {
        display: inline-block;
        width: 86px;
        border: 1px solid #d6d6d6;
        margin: 10px;
        height: 100px;
        text-align: center;
        background: whitesmoke;
        line-height: 72px;
        font-size: 16px;
        color: #525252;
        border-radius: 3px;
        position: relative;
        &.fill:before {
            content: attr(amount);
            position: absolute;
            width: calc(100% - 20px);
            background: #2f87e2;
            height: 25%;
            left: 0;
            bottom: 0;
            color: white;
            text-align: center;
            line-height: 100%;
            padding: 10px;
        }
    }
}