.home {
    background: #FFF;
    ion-header:after {
        display: none;
    }
    progress-chart {
        display: block;
        margin: 0px;
       
        padding: 4px;
        svg {
            margin: 0 auto;
            display: block;
            background: none;
        }
    }
    .fund {
        background: #EFEFEF;
   position: absolute;
    width: 100%;
    bottom:0;
        .fund-amount {
            border: 1px solid #bfbfbf;
            display: block;
            margin: 10px auto;
            font-size: 28px;
            border-radius: 3px;
            text-align: center;
            width:40%;
        }
        button {
            margin: 10px auto;
            display: block;
        }
    }
    .currency {
       position: relative;
    top: 2px;
    left: 34%;
    float: left;
    font-size: 30px;
    color: #666;
    }
    .text {
        margin: 10px;
        text-align: center;
        text-transform: uppercase;
        padding: 20px;
    }

   
} 

 .logo{
        display: block;
        width: 60%;
        max-width: 300px;
        margin: 0 auto;
    transform: translateX(-17px);
    }