.more {
    .header {
        color: gray;
        padding: 24px 0px 0px;
        margin: 0px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
    }
    ion-list-header {
        color: gray;
    }
    .badge-secondary {
        color: #818181;
        background-color: #dedcdc;
    }
    ion-list-header {
        margin-top: 20px;
    }
}